version: '3'
services:
  postgres:
    image: postgres
    ports:
      - 5433:5432
    environment:
      - POSTGRES_DB=phonebook
      - POSTGRES_USER=student
      - POSTGRES_PASSWORD=student
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
